@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui";
body {
  overflow-x: hidden;
  font-family: monospace;
}
.img__content {
  background-color: rgba(1, 2, 3, 0.435);
  height: fit-content;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
}
.img__content:hover {
  box-shadow: 15px 30px 80px 5px rgba(255, 0, 0, 0.527);
  transition: 0.6s ease;
  transform: translatey(-30px);
}

@media (max-width: 800px) {
  .my__title__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    .my__title__h1 {
      margin: 0 auto;
      margin-top: 100px;
    }
    .img__content {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  .port__skils {
    display: none;
  }
}

@media (max-width: 600px) {
  .my__title__wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }
  .my__title__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    .my__title__h1 {
      margin: 0 auto;
      margin-top: 100px;
      font-size: 22px;
    }
    .img__content {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

.typescript {
     
}
